* {
    box-sizing: border-box;
margin: 0;

  }
  
  body {
    background-color: rgb(241, 189, 239);
    background-image: url(./22.jpg);
    background-size: cover;
    padding: 160px 60px 60px 60px;
    margin: 0;
    width: 100%;
  }
  
  .main-wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px;
  
  }
  
  .section1, .section2 {
    width: 48%;
  }
  
  .section1 {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  .h1 {
    color: rgb(254, 252, 255);
    text-align: center;
  }
  
  .text {
    font-size: large;
    font-style: normal;
    color: rgb(249, 245, 251);
    text-align: center;
  }
  
  .cheekNum {
    display: flex;
    color: rgb(250, 248, 250);
    padding: 15px 15px;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: large;
  }
  
  .gussField {
    width: 70px;
    height: 50px;
    margin: 0 20px;
    font-size: 22px;
    text-align: center;
    border-color: rgb(97, 3, 88);
    border-radius: 15px;
    color: rgb(107, 5, 61); 
    background-color: white;
  }
  
  .guessSubmit {
    width: 150px;
    height: 50px;
    color: rgb(96, 5, 181);
    background-color: rgb(253, 254, 255);
    border-radius: 15px;
    border-color: blueviolet;
  }
  
  .lastResult,
  .guesses,
  .lowOrHi {
    color: rgb(99, 3, 75);
    padding: 13px;
    border-radius: 15px;
    background-color: beige;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    height: auto;
    width: 100%;
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    .main-wrapper {
      flex-direction: column;
      padding: 20px;
    }
  
    .section1, .section2 {
      width: 100%;
    }
  
    .cheekNum {
      flex-direction: column;
    }
  
    .gussField {
      width: 40px;
      height: 40px;
      font-size: 28px;
    }
  
    .guessSubmit {
      width: 120px;
      height: 40px;
    }
  
    .text, .h1 {
      font-size: 18px;
    }
  }